.root{
  -fx-background-color: 
        #090a0c,
        linear-gradient(lightblue 0%, #3300FF 50%,lightblue 100%),
        linear-gradient(#00FFFF, lightblue),
        radial-gradient(center 50% 0%, radius 180%, rgba(240,240,280,1), rgba(255,255,255,0));
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, lightblue);
    -fx-font-size: 30px;
   
}
#menuLbl{
	-fx-background-color: transparent;
	-fx-font-family: cursive;
    -fx-text-fill: skyblue;
}

.scroll-pane {
    -fx-background-color: #D6EAF8 ;
     -fx-background:  #090a0c,
        linear-gradient(lightblue 0%, #3300FF 50%,lightblue 100%),
        linear-gradient(#00FFFF, lightblue),
        radial-gradient(center 50% 0%, radius 180%, rgba(240,240,280,1), rgba(255,255,255,0));
   	-fx-border-color:black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: white;
    -fx-background-insets: 2, 10, 0;
	-fx-background-radius: 100;

	
}
.scroll-pane .scroll-bar:horizontal {
    -fx-pref-height: 20 ;
}
.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 20 ;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-pref-height: 3;
    -fx-pref-width:3 ;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 10em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: skyblue;
    -fx-background-radius: 50em;
}
.scroll-pane > .corner {
    -fx-background-color: transparent ;
}