
.scroll-pane {
    -fx-background-color: white ;
    -fx-background:  black;
   	-fx-border-color:black;
   	-fx-font-family: "Segoe UI Light";
    -fx-font-size: 20px;
 
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: white;
    -fx-background-insets: 2, 10, 0;
	-fx-background-radius: 100;

	
}
.scroll-pane .scroll-bar:horizontal {
    -fx-pref-height: 20 ;
}
.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 20 ;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-pref-height: 3;
    -fx-pref-width:3 ;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 10em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: black;
    -fx-background-radius: 50em;
}
.scroll-pane > .corner {
    -fx-background-color: transparent ;
}